.border-content {
    border-top: 1px solid;
}
.sidebar {
    color: #fff;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.icon-theme {
    position: absolute;
    top: 15px;
    right: 15px;
}
